@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
   font-family:'Roboto', sans-serif;
   display:flex;
   margin:0;
   flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    background-color:bisque;

}
section{
    width: 100%;
}
#cards{
    display:flex;
    justify-content: space-between;
    width: 80vw;
   align-self: center; 
   margin: auto;
   padding: 0px;
   gap: 10px;
}
.card{
    list-style-type: none;
    overflow: hidden;
    flex: 1 1 auto;
    aspect-ratio: 4 / 3;
    height: 70vh;
    border-radius: 25px;
    position: relative;
    transition: 1000ms all ease-in;
    cursor: pointer;
    
}
.enlarge{
flex: 8 0.125 auto;
    transition: 1000ms all ease-in;
}
.cardImage{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
.imageText {
    position: absolute;
    bottom: 0em;
    left: 1em;
    font-size: 2em;
    transition: 250ms 1000ms all ease-in;
    user-select: none;
}
.visible{
    color: aliceblue;
}
.imageText:not(.visible){
    transition: none;
                color: transparent;
}
#a{
    background-color: brown;
    width: 100%;
    padding: 30px;
}
@media (max-width: 1000px){
    #cards{
        width: 100vw;
    }
    .card:nth-of-type(6), .card:nth-of-type(7){
        display:none;
    }

}