@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
:root{
--blue: #2B96D9;

}
body{
   font-family:'Roboto', sans-serif;
   display:flex;
   margin:0;
   flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    background-color:#e3e3e3;

}
#steps{
    width: 50vw;
    display: flex;
    justify-content: stretch;
    padding: 0;
}
.step{
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    background-color: white;
    color:black;
    
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    box-sizing: content-box;
}
.blue{
    border-color: var(--blue);
    transition-delay:1000ms;
}
.progressLine{
    background-color: gray;
    height: 6px;
    flex-grow: 5;
    align-self: center;
}
.progressLineBlue{
    justify-self: start;
    background-color: var(--blue);
    height: 6px;
    align-self: center;
    width: 0%;
    transition: 1000ms ease-in-out;
}
.lengthend{
    width: 100%;
}
#buttons{
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}
#buttons button {
    color: white;
    background-color: var(--blue);
    border-radius: 5px;
    border-style:none;
    padding: 0.7em 2.5em;

}
#buttons  .disabled{
    background-color: gray;
    cursor:not-allowed;
    pointer-events: none;
}