@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
   font-family:'Roboto', sans-serif;
   display:flex;
   margin:0;
   flex-direction:column;
    align-items: center;
    justify-content:start;
    overflow:scroll;
    gap: 20px;
}
.content{
    height: 20vh;
    width: 30vw;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 100ms;
}
.content .contentTitle{
    font-size: 5vh;
    color: white;
}
.offScreenLeft{
translate: -80vw;
}
.offScreenRight{
translate: 80vw;
}