@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
   font-family:'Roboto', sans-serif;
   display:flex;
   margin:0;
   flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:hidden;
    background-image: url("pexels-thatguycraig000-1563356.jpg");
    background-size: cover;
}
.load-bar{
    backdrop-filter:blur(5px);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-percent{
    color: white;
    font-size: 40px;
}
